@font-face {
  font-family: Big-Caslon-Medium;
  src: url("../assets/fonts/Big-Caslon-Medium.ttf") format("truetype"); }
@font-face {
  font-family: Suisse-BP-Intl-Medium;
  src: url("../assets/fonts/Suisse-BP-Intl-Medium-2.ttf") format("truetype"); }
.header-container {
  background-color: black;
  width: 100%;
  height: 46vw;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
  margin-bottom: 6.25vw; }
  .header-container .header-text-container {
    height: 100%;
    width: 43%;
    z-index: 10;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FF3127; }
    .header-container .header-text-container .header-text {
      display: inline-flex;
      flex-direction: column;
      width: fit-content;
      position: absolute;
      right: -1.44vw;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
      .header-container .header-text-container .header-text .header-title {
        margin-top: 2.4vw;
        margin-bottom: 1.4vw; }
        .header-container .header-text-container .header-text .header-title h1 {
          font-family: Suisse-BP-Intl-Medium, sans-serif;
          font-size: 5.92vw; }
      .header-container .header-text-container .header-text h2, .header-container .header-text-container .header-text date {
        font-family: Big-Caslon-Medium, serif;
        font-size: 2vw;
        display: inline-block; }
  .header-container .header-image-container {
    height: 100%;
    width: 57%;
    z-index: 1;
    align-self: flex-end;
    padding-top: 3vw;
    padding-right: 4vw;
    padding-bottom: 3vw; }
    .header-container .header-image-container .header-image {
      width: 52.7vw;
      height: auto; }

.events-container {
  width: 100%;
  height: 20.8vw;
  margin-bottom: 6.25vw; }
  .events-container .events-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: #FF3127; }
    .events-container .events-list .event-card {
      display: flex;
      flex-direction: column;
      height: 100%;
      border-left: 1vw solid #D8D8D8;
      padding-left: 1vw; }
      .events-container .events-list .event-card h1 {
        font-size: 3.5vw;
        font-family: Suisse-BP-Intl-Medium, sans-serif;
        margin-bottom: 0.4vw;
        margin-top: 1vw;
        max-width: 16vw; }
      .events-container .events-list .event-card h2, .events-container .events-list .event-card date {
        font-size: 1.5vw; }

.collection-container {
  padding-left: 4vw;
  padding-right: 4vw; }
  .collection-container .collection-title {
    font-family: Suisse-BP-Intl-Medium, sans-serif;
    font-size: 6vw;
    margin-bottom: 2.3vw; }
  .collection-container .collection-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end; }
    .collection-container .collection-list .collection-card {
      margin-bottom: 6.25vw;
      cursor: url("../assets/svg/pointer.svg"), auto; }
      .collection-container .collection-list .collection-card h1, .collection-container .collection-list .collection-card h2 {
        font-family: Big-Caslon-Medium, serif;
        font-size: 2vw;
        color: #FF3127;
        line-height: 1.2em; }
      .collection-container .collection-list .collection-card h3 {
        font-family: Big-Caslon-Medium, serif;
        font-size: 1.4vw;
        color: #FF3127; }
      .collection-container .collection-list .collection-card .collection-card-image {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        margin-bottom: 1vw; }
      .collection-container .collection-list .collection-card img {
        width: 21.5vw;
        height: auto; }
      .collection-container .collection-list .collection-card .image-overlay {
        width: 110%;
        height: 100%;
        background-image: linear-gradient(0deg, #FF3127 63%, rgba(216, 216, 216, 0) 100%);
        z-index: 10;
        position: absolute;
        -webkit-transform: translateY(60%);
        -moz-transform: translateY(60%);
        -ms-transform: translateY(60%);
        transform: translateY(60%);
        top: 0;
        left: 0;
        will-change: transform; }
      .collection-container .collection-list .collection-card .collection-card-image:hover .image-overlay {
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        transform: translateY(0%);
        -webkit-transition: transform 0.2s ease;
        -moz-transition: transform 0.2s ease;
        -ms-transition: transform 0.2s ease;
        -o-transition: transform 0.2s ease;
        transition: transform 0.2s ease; }
      .collection-container .collection-list .collection-card .collection-card-footnote {
        position: absolute;
        display: flex;
        align-items: center;
        margin-top: 1vw; }
      .collection-container .collection-list .collection-card .collection-bullet {
        width: 1.2vw;
        height: 1.2vw;
        background-color: black;
        border-radius: 50%;
        margin-right: .8vw; }

.footer-container {
  width: 100%;
  height: 14vw;
  border-top: 1vw solid #D8D8D8;
  font-family: Suisse-BP-Intl-Medium, sans-serif;
  font-size: 2vw; }
  .footer-container .footer-list {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 2.8vw; }

/*# sourceMappingURL=output.css.map */
